.body {
	font-size: 2rem;
  color: white;
  margin: -8px;
  font-family: sans-serif;
  background-color: #091d53;
}

.normalText {
	margin: 0px;
	padding-bottom: 10px;
}

.smallText {
	margin: 0px;
	font-size: 1.5rem;
}

.container {
	padding-right: 180px;
	padding-left: 180px;
	padding-top: 150px;
	padding-bottom: 150px;
}

.titleContainer {
	padding-bottom: 15px;
	margin-bottom: 40px;
	border-bottom: 1px solid white;
}

.title {
	font-size: 4rem;
	margin: 0px;
}

.searchSection {
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	justify-content: space-between;
}

.regionSelector {
	background-color: white;
	padding: 15px;
	font-size: 2rem;
}

.input {
	color: #e40062;
	border: 1px solid black;
	background-color: #071845;
	font-size: 2rem;
	padding-left: 20px;
	flex-grow: 1;
	margin-left: 40px;
	margin-right: 40px;
}

.submitSeciton {
	margin-right: 80px;
	width: 150px;
}

.submit {
	border: none;
	background-color: #8200ff;
	font-size: 2rem;
	padding: 15px;
	width: 150px;
}

.summonerIdSection {
	display: flex;
	flex-direction: row;
}

.summonerIdText {
	margin: 0px;
	padding-bottom: 10px;
	color: #e40062;
	padding-left: 40px;
}

.addSummonerButton {
	border: none;
	background-color: #8200ff;
	font-size: 2rem;
	padding: 15px;
	margin-top: 20px;
	width: 300px;
}

.contextSection {
	padding-top: 50px;
}

.friendList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.friendButton {
	font-size: 2rem;
	background-color: white;
	padding: 15px;
	border: none;
	width: 300px;
}

.progressBar {
	background-color: red;
}

.gameInfo {
	align-self: center;
	display: flex;
}

.contextText {
	margin: 0px;
	align-self: center;
	margin-left: 30px;
}

.players {
	background-color: #8200ff;
	align-self: center;
	height: 100%;
	border: none;
	font-size: 2rem;
	padding: 15px;
	margin-right: 40px;
	width: 150px;
}

.close {
	background-color: #e40062;
	font-size: 1.7rem;
  font-weight: bold;
  border-radius: 30px 30px 30px 30px;
  border: none;
  margin-bottom: 0px;
  padding: 0px;
  margin: auto;
  width: 40px;
  height: 40px;
}

.participantsList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 25px;
	background-color: #071845;
}

.teamList {
	display: flex;
	flex-direction: column;
}

.getAllFriendsGameButton {
	width: 100%;
	background-color: #8200ff;
	font-size: 2rem;
	padding: 15px;
	border: none;
}

.getAllFriendsGameButton2 {
	width: 100%;
	background-color: #8200ff;
	font-size: 2rem;
	padding: 15px;
	border: none;
}

.getAllFriendsGameButtonSection {
	margin-top: 30px;
	margin-bottom: 50px;
}

.getAllFriendsGameButtonSection2 {
  margin-bottom: 20px;
	margin-bottom: 20px;
}

.vs {
	margin: 0px;
	color: #e40062;
	align-self: center;
	font-size: 3rem;
}

.time {
	display: flex;
}

.counter {
	margin-left: 20px;
	color: #e40062;
}

.redText {
	color: #e40062;
}

.redText2 {
	margin: 0px;
}

.timer {
	margin-left: 20px;
	margin-right: 10px;
}