.boardC4 {
  display: flex;
  width: 700px;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 2px solid white;
  background-color: #364554;
}

.squareC4 {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  box-sizing: border-box;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.squareC4:hover {
  cursor: pointer;
  background-color: #3ab2b2;
}