.parent {
  background-color: #364554;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.nimulia {
  height: 8vh;
  display: flex;
  background-color: #3ab2b2;
}

.nimuliaText {
  font-size: 36px;
  color: white;
  margin: 0px;
  margin: auto;
  align-self: center;
}

.children {
  align-self: flex-start;
  color: #a5b6c3;
  font-size: 18px;
  padding-top: 22.5px;
  padding-left: 22.5px;
}

.link {
  color: #a5b6c3;
  text-decoration: none;
}

.link:visited {
  color: red;
}
