.parent {
  background-color: #364554;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.nimulia {
  height: 8vh;
  display: flex;
  background-color: #3ab2b2;
}

.nimuliaText {
  font-size: 36px;
  color: white;
  margin: 0px;
  margin: auto;
  align-self: center;
}

.navBar {
  padding: 15px;
}

.children {
  align-self: flex-start;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.children:hover {
  background-color: #151d25;
  color: red;
}
